img {
    width: 300px;
    height: auto;
}
#news, #news_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#news_section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}
